#employee-container {
    height: 100%;
    width: 100%;
}

#employee-subcontainer {
    height: 80%;
}

#tabs {
    height: 10%;
    border-bottom: 1px solid whitesmoke;
}

#tabs>div {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

#tabs>div:hover {
    background-color: whitesmoke;
}